*{
    padding: 0;
    margin: 0;
}.menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 10px;
    gap: 25px;
    padding-top: 40px;
    height: 100vh;
    font-size: 1.3rem;
    color:black;
    font-weight:lighter;
    position: relative;
    border-right: solid;
    border-width: 1px;
    
    position: sticky;
}.main{
    display: flex;
    flex-direction: row;
}.container{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color:transparent;

}.last-icon{
    position: absolute;
    bottom: 10px;
}.icons{
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding-top: 2rem;
}.image{
   border:1px solid antiquewhite;
   border-radius: 50%;
   margin:  2rem 5rem;
}.section1{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
}.name{
   font-size: 2rem;
   font-weight: 100;
   gap: 20px;
   display: flex;
   flex-direction: row;
   align-items:start;
   margin-top: 1rem;
  
}.name button{
   padding: .4rem 2rem;
 margin-bottom: rem;
 margin-right: 1px;
 border-radius: 10%;

}.section{
    border-bottom: solid;
    display: flex;
    flex-direction: column;
}.post{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 40px;
    padding-bottom: 6rem;
    gap: 3rem;
    font-size: 1.3rem;
    padding-right: 80px;
    margin-top: 1rem;
}.add{
    width: 8rem;
    border-radius: 50%;
    margin-left: 9rem;
}.section2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}